.js-enabled {
    .dataTables_length {
        display: inline;
        float: left;

        select {
            display: inline;
            margin-top: 0;
        }
    }

    .dataTables_info {
        display: inline;
        float: none;
    }

    .dataTables_paginate {
        display: inline;
        float: right;
    }

    .dataTables_wrapper {
        margin-top: 0;
    }

    .dataTable thead {
        th.sorting_left-aligned {
            padding-left: 1.2em;
            background-position-x: left;
        }

        th.sorting_disabled {
            cursor: default;
        }
    }

    div.constrain_width {
        position: relative;
        display: inline-block;
        width: 300px;
        overflow-wrap: break-word;
    }

    .grid-layout__column--1-3:nth-of-type(3) .form-label.right {
        padding-right: 0;
    }
}

.radio-button{
    display: inline;
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    top: 0;
    left: 0;
    border-radius: 50%;
}